<table class="table">
  <tr>
    <th><%=t('grade.name')%></th>
    <th><%=t('grade.assessment_date')%></th>
    <th><%=t('grade.assessment_comments')%></th>
  </tr>
  <% membergrades.each do |mg| %>
    <tr id="grade_<%=mg.grade.id%>">
      <td><%=mg.grade.name%> </td>
      <%if (mg.since_date) %>
        <td><%=format_date('long',mg.since_date)%></td>
      <%else%>
        <td></td>
      <%end%>
    </tr>
  <%  end%>
    
</table>
