<table class="table">
  <tr>
    <th><%=t('grade.name')%></th>
    <th><%=t('grade.assessment_date')%></th>
    <th><%=t('grade.assessment_comments')%></th>
    <th><%=t('grade.actions')%></th>
  </tr>
  <% membergrades.each do |mg| %>
    <tr id="<%= dom_id(mg) %>">
      <td><%=mg.grade.name%> </td>
      <%if (mg.since_date) %>
        <td><%=format_date('long',mg.since_date)%></td>
      <%else%>
        <td></td>
      <%end%>
        <%if mg.comments
          if (mg.comments.length > 30) %>
        <td><%=mg.comments.slice[0,30]%></td>
          <%else%>
        <td><%=mg.comments%></td>
          <%end 
        else%>
        <td></td>
        <%end%>
        <td>
          <%= link_to image_tag("/images/icons/list-edit-small.png", :alt => t('grade.action.edit_grade')), edit_membergrades_path(mg), :id => 'edit_grade_link_' + mg.id.to_s, :class => 'list_button'  %>
          <%= link_to image_tag("/images/icons/list-delete-small.png", :alt => t('grade.action.delete_grade')), delete_membergrades_path(mg), :id => 'delete_grade_link_' + mg.id.to_s, :class => 'list_button'  %>
              
        </td>  
    </tr>
  <%  end%>
    
</table>
