
<div class="page_header">
  <h1><%=@club.title %>
</div>

<ul class="page-tabs">
  <li class="" id="tab1">
    <%= link_to t('club.basic_info'), edit_club_path %>
  </li>
  <li class="selected" id="tab2">
    <%= link_to t('club.public_info'), edit_public_club_path %>
  </li>
  <li class="" id="tab3">
      <%= link_to t('club.arts'), edit_arts_club_path %>
  </li>
  <li class="" id="tab4">
      <%= link_to t('club.notifications'), 'club#notifications' %>
  </li>
</ul>

<div class="page-tabs-content club_publicinfo">
  <%= render 'form_publicinfo' %>
</div>



<div style="display : none;">
  <%= link_to 'Show', @club %> |
  <%= link_to t(:back), clubs_path %>
</div>


<script type="text/javascript">
(function($) {
  $(document).ready(function() { 
   
    $('#form_public_id').addClass("hidden");
    $('#aloha_club_description').aloha();
    $('#aloha_club_schedule').aloha();
    $('#aloha_club_accessibility').aloha();
    $('#aloha_club_contact').aloha();
    });
    
    
    $('').live('click', function(e){
        // new implementation of the save.
        e.preventDefault();
        
        var $contentDescription = "";
        var $contentSchedule = "";
        var $contentAccessibility = "";
        var $contentContact = "";
        // iterate all dom elements which have been made aloha editable
        jQuery.each(GENTICS.Aloha.editables,function (index, editable) {
                // and get their clean and valid html5 content, and remember it to fake saving 
                switch(editable.getId())
                {
                case "aloha_club_description":
                  $contentDescription = editable.getContents();
                  break;
                case "aloha_club_schedule":
                  $contentSchedule : editable.getContents();
                  break;
                case "aloha_club_accessibility":
                  $contentAccessibility = editable.getContents();
                  break;
                case "aloha_club_contact":
                  $contentContact = editable.getContents();
                  break;
                }
                
        });
        $('#edit_club_1 form[name="club[description]"]').val($contentDescription);
        $('#edit_club_1 form[name="club[schedule]"]').val($contentSchedule);
        $('#edit_club_1 form[name="club[accessibility]"]').val($contentAccessibility);
        $('#edit_club_1 form[name="club[contact]"]').val($contentContact);
        
        $('#edit_club_1').submit();
        return false;
    });
    
})(jQuery);

</script>