<%
  @add_club_url = new_club_art_url(@club)
%>

<div class="page_header">
  <h1><%=@club.title %>
</div>

<ul class="page-tabs">
  <li class="" id="tab1">
    <%= link_to t('club.basic_info'), edit_club_path(@club) %>
  </li>
  <li class="" id="tab2">
    <%= link_to t('club.public_info'), club_edit_public_path(@club) %>
  </li>
  <li class="selected" id="tab3">
      <%= link_to t('club.arts_info'), club_edit_arts_path(@club) %>
  </li>
  <li class="" id="tab4">
      <%= link_to t('club.notifications'), 'club#notifications' %>
  </li>
</ul>

 
  

<div class="page-tabs-content">
   <!-- Display list of arts in a table -->
  <div id="arts_selection">
    
      <h2><%= t('club.arts.choose_title')%> </h2>

      <div class="club_arts_list">
        <div class="title">
            Art martial pratiqué dans le club
        </div>
        <ul id="club_arts_list" class="club_arts_list">

          <% @club.arts.find(:all , :conditions => ['enabled = 1']).each do |art| %>
            <li id="art_<%=art.id%>">
              <span class="item_list_content"><a id="art-details_<%=art.id%>" href="<%= art_grades_url(art.id) %>"><%=art.name%></a></span>
              <span class="item_list_action"><a id="art_action_<%=art.id%>" href="<%=club_art_disable_url(@club.id, art.id)%>"><img src="/images/element_icon_24.png" border="0"></img></a></span>
            </li>
          <% end %>
            <li id="art_add">
              <%= t('club.arts.add')%>
            </li>
        </ul>
        
      </div>
    
     <div class="arrow_drag_drop">
       <img src="/images/arrow_blue_left.png" border="0" height='100px'width='100px' ></img>
     </div>
   
      <div class="club_available_arts_list">

        <div class="title">
          <span>
              <%=t('club.arts.choose')%>
          </span>
          <span class="title_search">
            <input type="search"maxlength="10" size="20" results="1" placeholder="<%=t('search') %>" ></input>
          </span>
        </div>
        
        
          <ul id="club_available_arts_list" class="club_available_arts_list">

          <%@available_arts.each do |art| %>
            <li id="art-available_<%=art.id%>">
              <span class="add_art_icon">
                <a id="a_<%=art.id%>" href="<%=@add_club_url%>"><img src="/images/add_blue.png" width="16px" height="16px"></img> </a></span>
              <span><%=art.name%></span>
            </li>
          <% end %>
        </ul>
      </div>

  </div>  
   
   <div id="grades_details">
     <h2><%= t('club.arts.grades_title')%></h2>
     
     <table id="grade_details_table" class="table">
        <tr id="grade_table_header">
          <th id="th_grade_name"><%=t('grade.name')%></th>
          <th id="th_grade_minimal_age"><%=t('grade.minimal_age')%></th>
          <th id="th_grade_presence_number"><%=t('grade.presence_number')%></th>
        </tr>
        
        <% if (@art != nil)
          @art.grades.each do |grade| %>
          <tr id="grade_<%=grade.id%>">
            <td><%=grade.name%></td>
            <td><%=grade.age_minimum%></td>
            <td><%=grade.presence_required%></td>
          </tr>
        <% end
          end
         if (@art == nil)
      %>  
          <tr>
          <td><%=t('club.arts.choose_first')%></td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
        <%  end %>
      </table>
   </div>
   
   
</div>

<div style="display : none;">
  <%= link_to 'Show', @club %> |
  <%= link_to t(:back), clubs_path %>
</div>


<script>
  
(function($) {

  var flag = false;
  var disable_url = '<%=club_art_disable_url(@club.id, 1)%>';

    function configure_table_header_tooltip(){
      $('#th_grade_name').tooltip({ 
            bodyHandler: function() { 
                var content = "";
                content += "<p><%=t('grade.name_tooltip')%></p>";
                return content;
            }, 
            showURL: false,
            extraClass : "",
            top : 30,
            left : -50,
            delay : 400,
            fade: 400
        });
        
      $('#th_grade_minimal_age').tooltip({ 
            bodyHandler: function() { 
                var content = "";
                content += "<p><%=t('grade.minimal_age_tooltip')%></p>";
                return content;
            }, 
            showURL: false,
            extraClass : "",
            top : 30,
            left : -50,
            delay : 400,
            fade: 400
        });
        
      $('#th_grade_minimal_age').tooltip({ 
            bodyHandler: function() { 
                var content = "";
                content += "<p><%=t('grade.minimal_age_tooltip')%></p>";
                return content;
            }, 
            showURL: false,
            extraClass : "",
            top : 30,
            left : -50,
            delay : 400,
            fade: 400
        });
      
        
      $('#th_grade_presence_number').tooltip({ 
            bodyHandler: function() { 
                var content = "";
                content += "<p><%=t('grade.presence_tooltip')%></p>";
                return content;
            }, 
            showURL: false,
            extraClass : "",
            top : 30,
            left : -50,
            delay : 400,
            fade: 400
        });
    }
    
    $(document).ready(function() { 
      
      
        configure_table_header_tooltip();
        
      $('ul.club_available_arts_list span.add_art_icon a').live('click', function(e){
              e.preventDefault();

              if (flag == false){
                  flag = true;

                  //1 take the li id

                  var $container = $(this).parents('li');
                  var $container_id = $container.attr('id');

                  var pos = $container_id.indexOf('_');
                  var $template_id = $container_id.substr(pos +1);

                  var $url = $(this).attr('href');

                  //2 ajax call to add the art to the club 
                   $.ajax({
                        method: "get",
                        url: $url,
                        data : {"template_id" : $template_id},
                        complete: function(){ },
                        dataType : "json",
                        success: function(art){ 

                            if (art.id == ""){
                                //TODO handle error
                                console.log('ERROR');
                            } else {
                                $container.fadeOut(500, function(){
                                    //display new art
                                    
                                    var pos_art_id_start = disable_url.indexOf('arts/') + 5;
                                    var disable_url_spec =  disable_url.substring(0, pos_art_id_start) + art.id + '/disable';
                                    console.log(disable_url_spec);
                                    
                                    var html = '<li class="hidden appearing" id="art_' + art.id + '">';
                                    html += '<span class="item_list_content"> <a id="art-details_' + art.id +'" href="http://localhost:3000/arts/'+ art.id + '/grades">'+ art.name + '</a></span>' ;
                                    html += '<span class="item_list_action"><a id="art_action_'+ art.id +'" href=" ' + disable_url_spec + '"><img src="/images/element_icon_24.png" border="0"></img></a></span>';
                                    $(html).insertBefore('ul.club_arts_list li:last-child');
                                    
                                    $('ul.club_arts_list li#art_'+art.id).fadeIn(1000,function(){
                                        $(this).css('font-weight', 'normal');
                                    });
                                })
                            }


                            flag = false;

                        }
                    }); //close $.ajax()
              }
          });
          
          //$('a').live('click', function(){console.log(this)});

          $('a[id^="art_delete_action_"]').live('click', function(e){
              e.preventDefault();

              if (flag == false){
                  flag = true;

                  var $container = $(this).parents('li');
                  var $url = $(this).attr('href');

                  var pos = $(this).attr('id').indexOf('_');
                  var $art_id = $(this).attr('id').substr(pos +1);

                  //2 ajax call to add the art to the club 
                   $.ajax({
                        method: "get",
                        url: $url,
                        data : {"jquery_id" : $art_id},
                        dataType : "json",
                        complete: function(){ },
                        success: function(art){ 

                            if (art.enabled == 1){
                                //todo handle error
                                console.log('ERROR');
                            } else {
                                $container.fadeOut(500);
                            }
                            flag = false;

                        }
                    }); //close $.ajax()
              }
          });

          $('a[id^="art_action"]').live('click', function(e){
              //this action will display the delete button
              e.preventDefault();
              var $url = $(this).attr('href');

              var pos = $(this).attr('id').indexOf('_');
              var $art_id = $(this).attr('id').substr(pos +1);

              //build the new element
              var label = "Delete";
              var html = '<a class="hidden delete" href="' + $url + '" id="art_delete_' + $art_id +'">' + label + '</a>';
              console.log(html);
              $(html).insertAfter($(this));

              $(this).fadeOut(300, function(){
                $('#art_delete_' + $art_id).fadeIn(300);
              });

          });

        });
        
        $('a[id^="art-details_"]').live('click', function(e){
              
              e.preventDefault();
              var $url =$(this).attr('href');
              var $table = $('#grade_details_table');
              var $table_first_row = $('tr#grade_table_header').html();
              //console.log($table_first_row);

              if (flag == false){
                  flag = true;
                  
                  
                  //2 ajax call to add the art to the club 
                   $.ajax({
                        method: "get",
                        url: $url,
                        data : {},
                        dataType : "json",
                        complete: function(){ },
                        success: function(art){ 
                            //console.log(art);
                            if (art){
                                //todo write table
                                var html = '<tr id="grade_table_header">' + $table_first_row + '</tr>';
                                for (var i = 0; i < art.grades.length; i++){
                                  var grade = art.grades[i];
                                  html += '<tr id="grade_' + grade.id + '"><td>' + grade.name + '</td>';
                                  html += '<td>' + grade.age_minimum + '</td>';
                                  html += '<td>' + grade.presence_required + '</td></tr>';
                                  
                                }
                                
                                $table.hide(500, function(){
                                  $table.html(html);
                                  $table.show(500);
                                });
                            } else {
                                //todo handle error
                                console.log('ERROR');
                            }
                            flag = false;
                            configure_table_header_tooltip;
                        }
                    }); //close $.ajax()
              }
              
        });
  
})(jQuery);

  
</script>