<%
  @add_club_url = new_club_art_url(@club)
  logger.info @url
%>

<div class="page_header">
  <h1><%=@club.title %>
</div>

<ul class="page-tabs">
  <li class="" id="tab1">
    <%= link_to t('club.basic_info'), edit_club_path %>
  </li>
  <li class="" id="tab2">
    <%= link_to t('club.public_info'), edit_public_club_path %>
  </li>
  <li class="selected" id="tab3">
      <%= link_to t('club.arts'), edit_arts_club_path %>
  </li>
  <li class="" id="tab4">
      <%= link_to t('club.notifications'), 'club#notifications' %>
  </li>
</ul>

 
  

<div class="page-tabs-content">
   <!-- Display list of arts in a table -->
  <div id="arts_selection">
    
      <h2><%= t('club.arts')%> </h2>

      <div class="club_arts_list">
        <div class="title">
            Art martial pratiqué dans le club
        </div>
        <ul id="club_arts_list" class="club_arts_list">

          <% @club.arts.each do |art| %>
            <li id="art_<%=art.id%>">
              <%=art.name%>
            </li>
          <% end %>
            <li id="art_add">
              <%= t('club.arts.add')%>
            </li>
        </ul>
        
      </div>
    
     <div class="arrow_drag_drop">
       <img src="/images/arrow_blue_left.png" border="0" height='100px'width='100px' ></img>
     </div>
   
      <div class="club_available_arts_list">

        <div class="title">
          <span>
              <%=t('club.arts.choose')%>
          </span>
          <span class="title_search">
            <input type="search"maxlength="10" size="20" results="1" placeholder="<%=t('search') %>" ></input>
          </span>
        </div>
        
        
          <ul id="club_available_arts_list" class="club_available_arts_list">

          <%@available_arts.each do |art| %>
            <li id="art-available_<%=art.id%>">
              <span class="add_art_icon">
                <a id="a_<%=art.id%>" href="<%=@add_club_url%>"><img src="/images/add_blue.png" width="16px" height="16px"></img> </a></span>
              <span><%=art.name%></span>
            </li>
          <% end %>
        </ul>
      </div>

  </div>   
   
   
</div>

<div style="display : none;">
  <%= link_to 'Show', @club %> |
  <%= link_to t(:back), clubs_path %>
</div>


