<% 
  @country = Country.where('iso = :iso', {:iso => @user.country}).first 
  @language = Language.where('code = :code', {:code => @user.language}).first 

%>

<div class="title">
  <h1>My account</h1>
</div>

<div class="links">
  <%= link_to 'Edit', edit_user_path(@user) %>
</div>
<div class="clear"></div>

<p id="notice"><%= notice %></p>

<div id="account">
  <div class="header">Basic information</div>
  <div >

      <div class="profile_information">
        <span class="label"> Firstname </span>
        <pan class="label_content"> <%= @user.firstname %> </pan>
      </div>

      <div class="profile_information">
        <span class="label"> Lastname </span>
        <pan class="label_content"> <%= @user.lastname %></pan>
      </div>

      <div class="profile_information">
        <span class="label"> Username </span>
        <pan class="label_content"> <%= @user.username %> </pan>
      </div>

      <div class="profile_information">
        <span class="label"> Email </span>
        <pan class="label_content"> <%= @user.email %> </pan>
      </div>

      <div class="profile_information">
        <span class="label"> Language </span>
        <pan class="label_content"> <%= @language.name %> </pan>
      </div>
  </div>

  <div class="header">Address</div>
  <div >
    
      <div class="profile_information">
        <span class="label"> Address </span>
        <pan class="label_content"> <%= @user.address %> </pan>
      </div>

      <div class="profile_information">
        <span class="label"> Zip </span>
        <pan class="label_content"> <%= @user.zip %> </pan>
      </div>

      <div class="profile_information">
        <span class="label"> Town </span>
        <pan class="label_content"> <%= @user.town %> </pan>
      </div>

      <div class="profile_information">
        <span class="label"> Country </span>
        <pan class="label_content"> <%= @country.name %> </pan>
      </div>
  </div> 
</div>
