<% 
  @country = Country.where('iso = :iso', {:iso => @user.country}).first 
  @language = Language.where('code = :code', {:code => @user.language}).first 

%>

<div class="title">
  <h1><%=t :my_account%></h1>
</div>

<div class="links">
  <%= link_to t(:edit), edit_user_path(@user) %>
</div>
<div class="clear"></div>

<% if notice %>
<div id="notification_container">
  <!--- container to hold notifications, and default templates --->
  <div id="default">
          <h1>#{title}</h1>
          <p>#{text}</p>
  </div>
</div>

<script>
  $container = $("#notification_container").notify();;
  
  $("#notification_container").notify("create", "default", {
    title: 'Info',
    text: '<%=notice%>'
  },{
      expires: 2500,
      speed: 500
  });
  
</script>

<%end%>

<div id="account">
  <div class="header"><%=t :basic_information%></div>
  <div >

      <div class="profile_information">
        <span class="label"><%=t  :firstname %> </span>
        <pan class="label_content"> <%= @user.firstname %> </pan>
      </div>

      <div class="profile_information">
        <span class="label"><%=t :lastname %> </span>
        <pan class="label_content"> <%= @user.lastname %></pan>
      </div>

      <div class="profile_information">
        <span class="label"><%=t :username %> </span>
        <pan class="label_content"> <%= @user.username %> </pan>
      </div>

      <div class="profile_information">
        <span class="label"><%=t :email %> </span>
        <pan class="label_content"> <%= @user.email %> </pan>
      </div>

      <div class="profile_information">
        <span class="label"><%=t  :language %> </span>
        <pan class="label_content"> <%= @language.name %> </pan>
      </div>
  </div>

  <div class="header"><%=t :address %></div>
  <div >
    
      <div class="profile_information">
        <span class="label"> <%=t :address %> </span>
        <pan class="label_content"> <%= @user.address %> </pan>
      </div>

      <div class="profile_information">
        <span class="label"> <%=t :zip %> </span>
        <pan class="label_content"> <%= @user.zip %> </pan>
      </div>

      <div class="profile_information">
        <span class="label"> <%=t :town %> </span>
        <pan class="label_content"> <%= @user.town %> </pan>
      </div>

      <div class="profile_information">
        <span class="label"> <%=t :country %> </span>
        <pan class="label_content"> <%= @country.name %> </pan>
      </div>
  </div> 
</div>

