<p id="notice"><%= notice %></p>

<p>
  <b>:</b>
  <%= @event. %>
</p>

<p>
  <b>:</b>
  <%= @event. %>
</p>

<p>
  <b>:</b>
  <%= @event. %>
</p>

<p>
  <b>:</b>
  <%= @event. %>
</p>

<p>
  <b>:</b>
  <%= @event. %>
</p>

<p>
  <b>:</b>
  <%= @event. %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
