
<body bgcolor="#FFFFFF" style="background: #FFFFFF; padding: 0px; margin: 0px;" >
<!-- START main table -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" >
	<tr>
	<td bgcolor="#FFFFFF" align="center" ><div align="center">
		<!-- START main centred table -->
		<table width="630" border="0" cellpadding="0" cellspacing="0">
			<tr> 
			<td>
				<!-- START main content table -->
				<table width="630" border="0" cellspacing="0" cellpadding="0">
				
					<!-- START module / header with logo and info links without ribbon-->
					<tr>
					<td bgcolor="#FFFFFF" >
						<table width="630" border="0" cellspacing="0" cellpadding="0" >
							<tr>
							<!-- table column with logo -->
							<td height="133" align="center" valign="middle" style="padding: 0px;">
							<a href="http://localhost:3000" title="" target="_blank"><img src="<%= image_tag "logo.png" %>" alt="logo header" border="no" style="margin: 0px; padding: 0px; "/></a>
							</td>
							</tr>
						</table>
					</td>
					</tr>
					<tr>
					<td bgcolor="#FFFFFF" valign="top" style="border-top: none; border-right: none; border-bottom: none; border-left: none; padding-bottom: 20px;">
					<!-- divider goes here --><img src="<%= image_tag 'mail/splitted-header.jpg'%>" alt="" border="no" style="margin: 0px; padding: 0px; display: block;"/>	
					</td>
					</tr>
					<!-- END module -->
					
					<!-- START module / one column text -->
					<tr>
					<td bgcolor="#FFFFFF" valign="top" style="border-top: none; border-right: none; border-bottom: none; border-left: none; padding-bottom: 0px;">
						<table border="0" cellspacing="0" cellpadding="0" >
							<tr>
							<td align="left" valign="top" style="font-family: Arial,Helvetica,sans-serif; font-size: 18px; line-height: 22px; color: #54A9D0; padding-bottom: 10px;">
							<!-- title goes here -->Dear Michael,
							</td>
							</tr>
							<tr>
							<td align="left" valign="top" style="font-family: Arial,Helvetica,sans-serif; font-size: 12px; line-height: 20px; color: #888888; padding-bottom: 20px;">
							<%= @name %> sends you a message. </br>
                                                        <%= @message %>
                                                        </td>
							</tr>
						</table>	
					</td>
					</tr>
					<!-- END module -->
					
					<!-- START module / two diff size column image left text right -->
					<tr>
					<td bgcolor="#FFFFFF" valign="top" style="border-top: none; border-right: none; border-bottom: none; border-left: none; padding-bottom: 0px;">
						<table width="630" border="0" cellspacing="0" cellpadding="0">
							<tr>
							<td align="left" valign="top" >
                                                            <table width="500" border="0" cellspacing="0" cellpadding="0" >
                                                                    <tr>
                                                                    <td align="left" valign="top" style="font-family: Arial,Helvetica,sans-serif; font-size: 12px; line-height: 20px; color: #888888; padding-bottom: 20px;">
                                                                         <span style="font-weight: bold; color: #444444;"><%= @name%> </span>
                                                                    </td>
                                                                    </tr>
                                                            </table>
							</td>
							</tr>
						</table>
					</td>
					</tr>
					<!-- END module -->
					
					<!-- START module / footer -->
					<tr>
					<td bgcolor="#FFFFFF" valign="top" style="border-top: none; border-right: none; border-bottom: none; border-left: none; padding-bottom: 20px;">
					<!-- divider goes here --><img src="<%= image_tag 'mail/splitted-footer.jpg'%>" alt="" border="no" style="margin: 0px; padding: 0px; display: block;"/>	
					</td>
					</tr>
					<tr>
					<td bgcolor="#FFFFFF" valign="top" style="border-top: none; border-right: none; border-bottom: none; border-left: none; padding-bottom: 0px;">
						<table width="630" border="0" cellspacing="0" cellpadding="0">
							<tr>
							<!-- start left table column with contact data -->
							<td width="196" align="left" valign="top" style="padding-bottom: 20px; padding-top: 0px;">
								<table width="196" border="0" cellspacing="0" cellpadding="0" >
									<tr>
									<td align="left" valign="top" style="font-family: Arial,Helvetica,sans-serif; font-size: 12px; line-height: 20px; color: #888888; ">
									Sport Club Management
									</td>
									</tr>
								</table>
							</td>
							<td width="21">
							<!-- this is BLANK table column DO NOT DELETE -->
							</td>
							<!-- start center table column with links-->
							<td width="196" align="left" valign="top" style="padding-bottom: 20px; padding-top: 0px;">
								<table width="196" border="0" cellspacing="0" cellpadding="0" >
									<tr>
									<td align="left" valign="top" style="font-family: Arial,Helvetica,sans-serif; font-size: 12px; line-height: 20px; color: #888888; ">
									<a href="mailto:michael@michaelalbert.org" title="" target="_blank" style="color: #54A9D0; text-decoration: none;">michael@michaelalbert.org</a><br/>
									<a href="http://localhost:3000" title="" target="_blank" style="color: #54A9D0; text-decoration: none;">Sport Club Management</a>
									</td>
									</tr>
								</table>
							</td>
							<td width="21">
							<!-- this is BLANK table column DO NOT DELETE -->
							</td>
							</tr>
							<tr>
							<td align="left" colspan="5" valign="top">
								<table width="196" border="0" cellspacing="0" cellpadding="0" >
									<tr>
									<td align="left" valign="middle" style="font-family: Arial,Helvetica,sans-serif; font-size: 16px; font-weight: bold; color: #444444; padding-bottom: 30px; padding-top: 20px; border-top: solid 5px #444444; ">
									Sport Club Management
									</td>
									</tr>
								</table>
							</td>
							</tr>
						</table>
					</td>
					</tr>
					<!-- END module -->
				
				</table>
				<!-- END main content table -->
			 </td>
		</tr>
		</table>
		<!-- END main centred table -->
	</div></td>
	</tr>
</table>
<!-- END main table -->
</body>