<h1>Connexion</h1>

    <% form_for @user_session, :url => user_session_path do |f| %>
    <div class="form_content">

        <%= f.error_messages %>
        <fieldset>
          <%= f.label 'Email' %>
          <%= f.text_field :email %>
        </fieldset>
        <fieldset>
          <%= f.label 'Mot de passe' %>
          <%= f.password_field :password %>
        </fieldset>
        <fieldset>
          <%= f.check_box :remember_me %>
          <%= f.label "Se souvenir de moi" %>
        </fieldset>
    </div>
  <div >
    <%= f.submit "Connexion" %>
  </div>
  <% end %>