<%

class_home = "";
class_quicktour = "";
class_pricing = "";
class_contact = "";
class_dashboard = "";
class_home = "";

key = params[:controller] + '/' + params[:action]
case params[:controller]
  when 'home'
      class_home = 'selected';
  when 'quicktour'
      class_quicktour = 'selected';
  when 'quicktour'
      class_pricing = 'selected';
  when 'public'
      case params[:action]
        when 'contactus'
          class_contact = 'selected'
      end
  when 'dashboard'
      class_dashboard = 'selected';
  when 'clubs'
      class_club = 'selected';
else
  class_home = 'selected';
end
                              
%>

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Sport Club Management</title>
        
        <%= stylesheet_link_tag :all %>
        <%= csrf_meta_tag %>
        
        <!-- include the default css files -->
	<link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/sidebar.css" type="text/css" />
        
        <!-- include the default js files -->
        <script type="text/javascript" src="/javascripts/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="/javascripts/superfish.js"></script>
        <script type="text/javascript" src="/javascripts/common.js"></script>
 
        
    </head>
    
    <body>
        <div id="page">
            <div class="scm_header">
                <div class="logo">
                    <img src="/images/scm-logo.png" />
                </div>
                <div class="name">
                    <h1>Sport Club Management</h1>
                    <div class="slogan">
                        Less time managing, more time practicing
                    </div>
                </div>
              
                <div id="user_menu">
                  <a id="display_user_menu" href=""><img id="user_menu_button" src="/images/usermenu/button_params.png"/></a>
                </div>
               
                <div id="user_menu_list" style="display:none">
                  <ul class="menu">
                    <% if current_user %>
                      <li> <%= link_to t('user_menu.general_settings'), "/settings" %></li>
                      <li> <%= link_to t('user_menu.your_profile'), current_user %></li>
                      <li> <%= link_to t('user_menu.sign_out'), user_session_path, :method => :destroy %></li>
                    <% else %>
                      <li> <%= link_to t(:login), new_user_session_path, :id => "signin" %></li>
                      <li> <%= link_to t(:register), new_user_path %></li>
                    <% end %>
                  </ul>
              </div>
              
              <div id="main-menu-wrapper" class="main-menu-wrapper full-width clearfix">
                <div id="main-menu" class="main-menu">
                    <div id="block-superfish-1" class="block block-superfish contextual-links-region">
                        
                        <ul id="superfish-1" class="sf-menu main-menu sf-style-default">
                          <% if current_user %>
                            <li class="<%= class_dashboard%>">
                                <%= link_to t('main_menu.dashboard'), "/dashboard" %> 
                            </li>
                            <li class="<%=  class_club%>">
                                <%= link_to t('main_menu.club'), "/club" %> 
                            </li>
                          
                          <% end %>
                                                       
                            <li>
                                <%= link_to t('main_menu.contactus'), "/contactus" %> 
                            </li>
                            
                        </ul>
                        
                    </div>
                    
                </div>
                <div class="clear"></div>
            </div>
          </div>
            
            
            
              
            <div id="main">
              <div id="sidebar" class="dashboard-sidebar sidebar">
                
                <ul id="accordion">
                  <li class="first">
                      <a href="#" class="club" rel="club">Clubs</a>
                      <ul>
                          <li><%= link_to t('dashboard.actions.new_club'), new_clubs_path, html_options = {:class => 'submenu'} %></li>
                          <li><a href="#" class="submenu">New Member</a></li>
                          <li class="last"><a href="#" class="submenu last">Overview</a></li>
                      </ul>
                  </li>
                  <li>
                      <a href="#" class="member" rel="member">Members</a>
                      <ul>
                          <li><a href="#" class="submenu">All members</a></li>
                          <li class="last"><a href="#" class="submenu last">Contact members</a></li>
                      </ul>
                  </li>
                  <li>
                      <a href="#" class="other" rel="other">Others</a>
                      <ul>
                          <li><a href="#" class="submenu">Comment 1</a></li>
                          <li><a href="#" class="submenu">Comment 2</a></li>
                          <li class=" last"><a href="#" class="submenu last">Comment 3</a></li>
                      </ul>
                  </li>
                </ul>
                
                
                <!--
                <div class="header">
                  blabla
                </div>
                <div class="widget">
                  <div class="actions">
                    <ul class="dashboard-actions">
                      <li>
                        <%= link_to t('dashboard.actions.new_club'), new_clubs_path, html_options = {:class => 'button strong'} %>
                      </li>
                      <li>
                        <%= link_to t('dashboard.actions.new_member'), 'ere', html_options = {:class => 'button strong'} %>
                      </li>
                      <li>
                        <a class="button strong" href="/TeeTimes/Propose">Mystery</a>
                      </li>
                    </ul>
                  </div>
                  
                </div>
                <div class="widget">
                  blabla
                </div>
                -->
                
              </div>
              
              <div class="main-container">
                <%= yield %>
              </div>
            
            </div>
            
            <div id="footer"></div>
            
            
          </div>
   
          <!-- Do not remove div#mask, because you'll need it to fill the whole screen --> 
          <div id="mask"></div>
        
    </body>
    
</html>

<script>
(function($) {
  $(document).ready(function() { 
      $('#accordion li').click(function () {
 
        //check in which section we are
        var hasSubmenu = false;
        var $elem = $(this).find('ul');
        //check in which section we are
        if ($elem.size() > 0)
          hasSubmenu = true;
      
        /* FIRST SECTION */
 
        //slideup or hide all the Submenu
        if (hasSubmenu){
          console.log('retroune 2 truc'); 
          $('#accordion li').children('ul').slideUp('fast'); 

          //remove all the "Over" class, so that the arrow reset to default
          $('#accordion li > a').each(function () {
              if ($(this).attr('rel')!='') {
                  $(this).removeClass($(this).attr('rel') + 'Over'); 
              }
          });
             
          /* SECOND SECTION */   

          //show the selected submenu
          $(this).children('ul').slideDown('fast');

          //add "Over" class, so that the arrow pointing down
          $(this).children('a').addClass($(this).children('li a').attr('rel') + 'Over');
          
        } else {
          var $url = $(this).find('> a').attr('href'); 
         window.location = $url;

        }
        
        return false;
    });
     
  });
 })(jQuery);
</script>
