<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Sport Club Management</title>
        
        <%= stylesheet_link_tag :all %>
        <%= csrf_meta_tag %>
        
        <!-- include the default css files -->
	<link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" />
        
        <!-- include the default js files -->
        <script type="text/javascript" src="/javascripts/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="/javascripts/superfish.js"></script>
        <script type="text/javascript" src="/javascripts/common.js"></script>
 
        
    </head>
    
    <body>
        <div id="page">
            <div class="scm_header">
                <div class="logo">
                    <img src="/images/logo.png" />
                </div>
                <div class="name">
                    <h1>Sport Club Management</h1>
                    <div class="slogan">
                        Less time managing, more time practicing
                    </div>
                </div>
            </div>
            <div id="user_menu">
                <ul class="menu">
                  
                  <% if current_user %>
                    <li>
                        <%=t :hi %>, <%= current_user.firstname %>
                    </li>
                    <li>
                        <%= link_to t(:my_account), current_user %>
                    </li>
                    <li>
                        <%= link_to t(:logout), user_session_path, :method => :destroy %>
                    </li>
                  <% else %>
                    <li>
                        <%= link_to t(:login), new_user_session_path, :id => "signin" %>
                    </li>
                    <li>
                        <%= link_to t(:register), new_user_path %>
                    </li>
                  <% end %>
                </ul>
            </div>
            
            <div id="main-menu-wrapper" class="main-menu-wrapper full-width clearfix">
                <div id="main-menu" class="main-menu">
                    <div id="block-superfish-1" class="block block-superfish contextual-links-region">
                        
                        <ul id="superfish-1" class="sf-menu main-menu sf-style-default">
                          <% if current_user %>
                            <li>
                                <%= link_to t('main_menu.dashboard'), "/dashboard" %> 
                            </li>
                          
                          <% end %>
                                                       
                            <li>
                                <%= link_to t('main_menu.contactus'), "/contactus" %> 
                            </li>
                            
                        </ul>
                        
                    </div>
                    
                </div>
                <div class="clear"></div>
            </div>
              
            <div id="content">
              <div class="dashboard-sidebar sidebar">
                <div class="header">
                  blabla
                </div>
                <div class="widget">
                  <div class="actions">
                    <ul class="dashboard-actions">
                      <li>
                        <%= link_to t('dashboard.actions.new_club'), 'clubs#new', html_options = {:class => 'button strong'} %>
                      </li>
                      <li>
                        <%= link_to t('dashboard.actions.new_member'), 'ere', html_options = {:class => 'button strong'} %>
                      </li>
                      <li>
                        <a class="button strong" href="/TeeTimes/Propose">Mystery</a>
                      </li>
                    </ul>
                  </div>
                  
                </div>
                <div class="widget">
                  blabla
                </div>
                
              </div>
              
              <div class="main-container">
                <%= yield %>
              </div>
            
            
            </div>
            
            
            </div>
                   
            </div>
          
          </div>
      
          
          <!-- Do not remove div#mask, because you'll need it to fill the whole screen --> 
          <div id="mask"></div>
        
    </body>
    
</html>

<script>
(function($) {
  $(document).ready(function() { 

      

  });
 })(jQuery);
</script>
